<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <div
              hx-post="/stop"
              hx-trigger="load delay:0.5s"
              hx-swap="outerHTML"
            >
              [Waiting for loading]
            </div>
          </div>

          <a class="navbar-item"> Home </a>
          <div class="navbar-item">Test05 V0.11</div>
        </div>
      </div>
    </nav>
    <div class="columns">
      <div class="column is-6 is-offset-2">
        <article class="tile is-child box">
          <div>
            <p class="title">Demo</p>
            <div hx-get="/terminal" hx-trigger="every 1s" hx-swap="beforeend">
              <h3>Test terminal output start</h3>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-4">
        <article class="tile is-child box">
          <p class="title">Info</p>
          <div class="content">
            <p>
              This demonstrates click toggle and a terminal output simulation.
            </p>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
